* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-main: #0B0F1A;
}

body{
    display: grid;
    background-color: var(--bg-main);
    color: white;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 120px 1fr auto;
    min-height: 100vh;
    grid-template-areas: 
    "sidebar header"
    "sidebar content"
    "siderbar footer";
}

body > header {
    display: flex;
    grid-area: header;
    background: red;

}

h1 {
    margin-top: 35px;
    margin-left: 350px;
}

.head-right{
    margin-left: auto;
    display: flex;
    gap: 15px;
}

.level-user{
    width: 200px;
    height: 110px;
}

body aside {
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
}

.nav-up {
    display: flex;
    flex-direction: column;
}

.nav-down{
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

body main {
    grid-area: content;
}

body footer {
    grid-area: footer;
}

.recommendation-section {
    margin: 20px;
    padding: 20px;
}

section .cards-active{
    display: flex;
    gap: 16px;
    padding: 1rem;
    width: 300px;
    height: 350px;

}

article{
    background-color: #10172c;
    padding: 2rem;
    margin-bottom: 16px;
    border-radius: 1rem;
}

.add-element{
    background-color: #7293FF;
    width: 50px;
    height: 50px;
    margin: 0;
    font-size: 20px;
    position: fixed;
    bottom: 2%;
    right: 2%;
    border-radius: 20%;
}